<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Shree Saraswati Shishu Mandir, Gondal</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-i18n@next"></script>

        <style>
            /* Additional styling for carousel animation */
            .carousel-item {
                display: none;
            }

            .carousel-item.active {
                display: block;
            }

            .lang-icon > svg {
                margin: 6px 7px;
            }
            .lang-icon {
                width: 38px;
                height: 38px;
                padding: 6px 3px 5px 5px;
                margin: -8px 8px -8px -16px;
                border-right: 1px solid lightgray;
            }
            .lang-label {
                padding-left: 5px;
            }
        </style>
    </head>

    <body class="bg-gray-100 font-sans" id="app">
        <div class="container mx-auto px-4 pt-6">
            <!-- Header with Logo and School Name -->
            <header
                class="flex items-center justify-between pb-4 border-gray-300"
            >
                <div class="flex items-center space-x-4">
                    <img
                        src="https://upload.wikimedia.org/wikipedia/en/0/01/Vidyabharti.png"
                        alt="School Logo"
                        class="w-12 h-12"
                    />
                    <h1 class="text-2xl md:text-3xl font-bold text-blue-700">
                        {{ $t('school') }}, {{ $t('city') }}
                    </h1>
                </div>
                <!-- Language Selector -->
                <div class="flex mb-6">
                    <div class="relative inline-block text-left">
                        <div>
                            <button
                                type="button"
                                class="inline-flex justify-between w-full rounded-lg border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500"
                                id="options-menu"
                                @click="toggleDropdown"
                                aria-haspopup="true"
                                aria-expanded="true"
                            >
                                <span class="lang-icon">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        class="size-6"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 0 1-3.827-5.802"
                                        />
                                    </svg>
                                </span>
                                <span class="lang-label">
                                    {{ $t('language') }}
                                </span>
                                <svg
                                    class="-mr-1 ml-2 h-5 w-5"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M5.23 7.21a.75.75 0 011.06 0L10 10.348l3.71-3.14a.75.75 0 111.04 1.08l-4.25 3.5a.75.75 0 01-1.04 0l-4.25-3.5a.75.75 0 010-1.08z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </button>
                        </div>

                        <div
                            v-if="isDropdownOpen"
                            class="absolute right-0 z-10 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                            role="menu"
                            aria-orientation="vertical"
                            aria-labelledby="options-menu"
                        >
                            <div class="py-1" role="none">
                                <button
                                    @click="changeLanguage('en')"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
                                    role="menuitem"
                                >
                                    English
                                </button>
                                <button
                                    @click="changeLanguage('hi')"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
                                    role="menuitem"
                                >
                                    हिंदी
                                </button>
                                <button
                                    @click="changeLanguage('gu')"
                                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
                                    role="menuitem"
                                >
                                    ગુજરાતી
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div>
            <!-- Navigation Menu -->
            <nav class="bg-blue-600 mt-4 shadow-md">
                <ul class="flex justify-center space-x-3 py-3">
                    <li>
                        <a
                            href="#home"
                            class="text-white font-semibold py-2 px-3 hover:text-blue-600 hover:bg-blue-100 hover:shadow-inner rounded-lg"
                            >{{ $t('menu.home') }}</a
                        >
                    </li>
                    <li>
                        <a
                            href="#about-us"
                            class="text-white font-semibold py-2 px-3 hover:text-blue-600 hover:bg-blue-100 hover:shadow-inner rounded-lg"
                            >{{ $t('menu.about') }}</a
                        >
                    </li>
                    <li>
                        <a
                            href="#academics"
                            class="text-white font-semibold py-2 px-3 hover:text-blue-600 hover:bg-blue-100 hover:shadow-inner rounded-lg"
                            >{{ $t('menu.academics') }}</a
                        >
                    </li>
                    <li>
                        <a
                            href="#beyond-academics"
                            class="text-white font-semibold py-2 px-3 hover:text-blue-600 hover:bg-blue-100 hover:shadow-inner rounded-lg"
                            >{{ $t('menu.beyond_academics') }}</a
                        >
                    </li>
                    <li>
                        <a
                            href="#results"
                            class="text-white font-semibold py-2 px-3 hover:text-blue-600 hover:bg-blue-100 hover:shadow-inner rounded-lg"
                            >{{ $t('menu.results') }}</a
                        >
                    </li>
                    <li>
                        <a
                            href="#eluminies"
                            class="text-white font-semibold py-2 px-3 hover:text-blue-600 hover:bg-blue-100 hover:shadow-inner rounded-lg"
                            >{{ $t('menu.eluminis') }}</a
                        >
                    </li>
                    <li>
                        <a
                            href="#contact-us"
                            class="text-white font-semibold py-2 px-3 hover:text-blue-600 hover:bg-blue-100 hover:shadow-inner rounded-lg"
                            >{{ $t('menu.contact') }}</a
                        >
                    </li>
                </ul>
            </nav>

            <!-- Carousel for Activity Photos -->
            <!-- Activity Carousel -->
            <div class="">
                <!-- Activity Carousel -->
                <div class="relative w-full overflow-hidden shadow-lg">
                    <div class="carousel">
                        <img
                            v-for="(slide, index) in slides"
                            :src="slide.image"
                            :alt="slide.alt"
                            :class="['carousel-item w-full object-cover', {'active': index === currentSlide }]"
                        />
                    </div>

                    <div
                        class="absolute top-1/2 transform -translate-y-1/2 w-full flex justify-between"
                    >
                        <button
                            @click="showPrevSlide"
                            class="bg-gray-800 text-white px-4 py-2 opacity-75 rounded-r-lg hover:opacity-100"
                        >
                            ❮
                        </button>
                        <button
                            @click="showNextSlide"
                            class="bg-gray-800 text-white px-4 py-2 opacity-75 rounded-l-lg hover:opacity-100"
                        >
                            ❯
                        </button>
                    </div>

                    <!-- Dots Indicator -->
                    <div
                        class="absolute bottom-4 left-0 right-0 flex justify-center space-x-2"
                    >
                        <span
                            v-for="(dot, index) in slides"
                            @click="goToSlide(index)"
                            class="dot h-3 w-3 bg-gray-300 bg-opacity-50 rounded-full cursor-pointer"
                            :class="{ 'bg-blue-500': currentSlide === index }"
                        ></span>
                    </div>
                </div>
            </div>

            <!-- Facilities Section -->
            <section class="container mx-auto my-8">
                <h2 class="text-2xl font-semibold text-center text-blue-700">
                    {{ $t('sections.facilities.title') }}
                </h2>
                <div class="flex justify-around mt-4 gap-x-4">
                    <div
                        class="facility bg-white p-4 rounded-lg shadow-md w-1/4"
                    >
                        <h3 class="text-lg font-bold text-blue-600">
                            {{ $t('sections.facilities.sports_title') }}
                        </h3>
                        <p>{{ $t('sections.facilities.sports_desc') }}</p>
                    </div>
                    <div
                        class="facility bg-white p-4 rounded-lg shadow-md w-1/4"
                    >
                        <h3 class="text-lg font-bold text-blue-600">
                            {{ $t('sections.facilities.porjector_title') }}
                        </h3>
                        <p>{{ $t('sections.facilities.porjector_desc') }}</p>
                    </div>
                    <div
                        class="facility bg-white p-4 rounded-lg shadow-md w-1/4"
                    >
                        <h3 class="text-lg font-bold text-blue-600">
                            {{ $t('sections.facilities.comp_lab_title') }}
                        </h3>
                        <p>{{ $t('sections.facilities.comp_lab_desc') }}</p>
                    </div>
                    <div
                        class="facility bg-white p-4 rounded-lg shadow-md w-1/4"
                    >
                        <h3 class="text-lg font-bold text-blue-600">
                            {{ $t('sections.facilities.school_bus_title') }}
                        </h3>
                        <p>{{ $t('sections.facilities.school_bus_desc') }}</p>
                    </div>
                </div>
            </section>

            <!-- Introductory Video -->
            <section class="container mx-auto my-8 text-center">
                <h2 class="text-2xl font-semibold text-blue-700">
                    {{ $t('sections.intro.title') }}
                </h2>
                <video controls class="w-full mx-auto mt-4 rounded-lg">
                    <source src="video.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </section>

            <section class="bg-blue-200 shadow-lg">
                <div class="container mx-auto mb-8 p-6">
                    <h2
                        class="text-2xl font-semibold mb-4 text-center text-blue-600"
                    >
                        {{ $t('sections.achivement.title') }}
                    </h2>
                    <ul class="list-disc pl-5 space-y-2">
                        <li class="pb-2">{{ $t('sections.achivement.l1') }}</li>
                        <li class="pb-2">{{ $t('sections.achivement.l2') }}</li>
                        <li class="pb-2">{{ $t('sections.achivement.l3') }}</li>
                        <li class="pb-2">{{ $t('sections.achivement.l4') }}</li>
                        <li>{{ $t('sections.achivement.l5') }}</li>
                    </ul>
                </div>
            </section>

            <!-- Parents Feedback Section -->
            <section class="container mx-auto mb-6 p-6">
                <h2
                    class="text-2xl font-semibold mb-4 text-blue-600 text-center"
                >
                    {{ $t('sections.feedback.title') }}
                </h2>
                <div class="flex items-stretch space-x-4">
                    <blockquote
                        class="border-l-4 border-blue-500 pl-4 italic text-gray-700 bg-white p-4 rounded-md shadow-md w-1/3"
                    >
                        "{{ $t('sections.feedback.fb1') }}"
                        <footer class="text-right text-gray-600">
                            — {{ $t('sections.feedback.parent1') }}
                        </footer>
                    </blockquote>
                    <blockquote
                        class="border-l-4 border-blue-500 pl-4 italic text-gray-700 bg-white p-4 rounded-md shadow-md w-1/3"
                    >
                        "{{ $t('sections.feedback.fb2') }}"
                        <footer class="text-right text-gray-600">
                            — {{ $t('sections.feedback.parent2') }}
                        </footer>
                    </blockquote>
                    <blockquote
                        class="border-l-4 border-blue-500 pl-4 italic text-gray-700 bg-white p-4 rounded-md shadow-md w-1/3"
                    >
                        "{{ $t('sections.feedback.fb3') }}"
                        <footer class="text-right text-gray-600">
                            — {{ $t('sections.feedback.parent3') }}
                        </footer>
                    </blockquote>
                </div>
            </section>

            <!-- Footer -->
            <footer class="bg-blue-700 text-white pt-10 pb-6">
                <div class="container mx-auto px-4">
                    <div class="flex flex-col md:flex-row justify-between">
                        <!-- School Info -->
                        <div class="flex-1 px-3 md:mb-0">
                            <h3 class="text-2xl font-bold mb-2">
                                {{ $t('school') }}, {{ $t('city') }}
                            </h3>
                            <p class="text-blue-200">{{ $t('desc') }}</p>
                        </div>
                        <!-- Important Links -->
                        <div class="flex-1 px-3 md:mb-0">
                            <h4 class="text-lg font-semibold mb-4">
                                {{ $t('links_title') }}
                            </h4>
                            <ul class="space-y-2">
                                <li>
                                    <a
                                        href="#home"
                                        class="hover:underline text-blue-200"
                                        >{{ $t('menu.home') }}</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#about-us"
                                        class="hover:underline text-blue-200"
                                        >{{ $t('menu.about') }}</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#academics"
                                        class="hover:underline text-blue-200"
                                        >{{ $t('menu.academics') }}</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#beyond-academics"
                                        class="hover:underline text-blue-200"
                                        >{{ $t('menu.beyond_academics') }}</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#results"
                                        class="hover:underline text-blue-200"
                                        >{{ $t('menu.results') }}</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#eluminies"
                                        class="hover:underline text-blue-200"
                                        >{{ $t('menu.eluminis') }}</a
                                    >
                                </li>
                                <li>
                                    <a
                                        href="#contact-us"
                                        class="hover:underline text-blue-200"
                                        >{{ $t('menu.contact') }}</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <!-- Contact Info and Social Links -->
                        <div class="flex-1 px-3">
                            <h4 class="text-lg font-semibold mb-4">
                                {{ $t('menu.contact') }}
                            </h4>
                            <p class="text-blue-200">
                                {{ $t('address') }}, {{ $t('city') }}, {{
                                $t('state') }} {{ $t('pincode') }},
                            </p>
                            <p class="text-blue-200">
                                {{ $t('email') }}:
                                info@saraswati-school-gondal.edu
                            </p>
                            <p class="text-blue-200">
                                {{ $t('phone') }}: 02825225385
                            </p>
                            <!-- Social Links -->
                            <div class="flex mt-4 space-x-4">
                                <a
                                    href="https://facebook.com"
                                    class="text-white hover:text-blue-300"
                                    aria-label="Facebook"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-6 w-6"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M22.675 0h-21.35c-.73 0-1.325.595-1.325 1.325v21.351c0 .729.595 1.324 1.325 1.324h11.494v-9.294h-3.128v-3.622h3.128v-2.672c0-3.1 1.895-4.785 4.659-4.785 1.325 0 2.465.099 2.796.143v3.24l-1.918.001c-1.504 0-1.797.715-1.797 1.763v2.31h3.594l-.468 3.622h-3.126v9.293h6.126c.73 0 1.324-.595 1.324-1.324v-21.35c0-.73-.594-1.325-1.324-1.325z"
                                        />
                                    </svg>
                                </a>
                                <a
                                    href="https://youtube.com"
                                    class="text-white hover:text-blue-300"
                                    aria-label="YouTube"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="h-6 w-6"
                                        fill="currentColor"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M23.498 6.186a2.835 2.835 0 0 0-2.038-2.038c-1.796-.486-8.998-.486-8.998-.486s-7.203 0-8.999.486a2.835 2.835 0 0 0-2.038 2.038c-.486 1.796-.486 5.558-.486 5.558s0 3.762.486 5.558a2.835 2.835 0 0 0 2.038 2.038c1.796.486 8.999.486 8.999.486s7.202 0 8.998-.486a2.835 2.835 0 0 0 2.038-2.038c.486-1.796.486-5.558.486-5.558s0-3.762-.486-5.558zm-14.498 8.641v-7.382l6.305 3.691-6.305 3.691z"
                                        />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- Footer Bottom -->
            <div class="text-center bg-blue-700 text-blue-200">
                <!-- mt-4 text-center border-t border-blue-500 pt-4 text-sm text-blue-200 -->
                <div class="container mx-auto border-t border-blue-500 py-6">
                    © 2024 {{ $t('school') }}, {{ $t('city') }}. {{
                    $t('rights') }}
                </div>
            </div>
        </div>

        <script src="./home.js"></script>
    </body>
</html>
